.app {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #222;
  height: 160;
  padding: 40;
}

.banner,
.intro {
  text-align: center;
}

.banner {
  font-size: 80;
  color: white;
}

.intro {
  margin-top: 40;
  font-size: 40;
  line-height: 60;
}

@font-face {
  font-family: iconfont;
  src: url(http://at.alicdn.com/t/font_pkm0oq8is8fo5hfr.ttf);
}

.icon {
  font-family: iconfont;
}
