.app {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #222;
  height: 160;
  padding: 40;
}

.banner, .intro {
  text-align: center;
}

.banner {
  font-size: 80;
  color: white;
}

.intro {
  margin-top: 40;
  font-size: 40;
  line-height: 60;
}
